.product {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 1px; */
}

.product-type {
  position: absolute;
  text-transform: uppercase;
  /* left: 85px; */
  background-color: var(--green);
}

.item-class {
  padding: 5px;
}

.product-name {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.product-name .title {
  margin: 0;
  font-weight: 600;
}

.item-class > i {
  cursor: pointer;
}

.product-cat {
  text-transform: uppercase;
  font-size: x-small;
}

.viewed-product {
  width: 25%;
  padding: 12px;
  margin: 0;
  box-shadow: 0 0 8px 8px rgba(83, 87, 89, 0.162);

  /* object-fit: contain; */
}

.viewed-product > img {
  width: 100%;
  border-radius: 10px;
}
