.footer {
    flex-shrink: 0;
    border-top: var(--border-default);
    /* list-style: none; */
}

.footer-content {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
}

.footer-block {
    width: 100%;
    margin-right: 16px;
    border-right: var(--border-primary);
    padding-top: 20px;
}

.footer-block:last-child {
    margin-right: 0;
}

/*
 * Social Icons
 */

.footer-social-item {
    text-align: center;
}

.footer-social-item span,
a {
    display: inline-block;
    vertical-align: top;
}

.footer-social-item span,
a :hover {
    opacity: 0.8;
}

.footer-social-item li {
    padding-bottom: 8px;
    margin: 0 auto;
    display: inline-block;
}

.footer-social-item li a {
    margin-left: 10px;
}


/*
 * Copyright
 */

.footer-copyright {
    text-align: center;
    padding: 16px 0px;
}

@media (max-width: 576px) {
    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .footer-block {
        text-align: center;
        margin: 10px 0px;
        border-right: none;
        padding: 20px 0px;
        border-bottom: var(--border-primary);
    }

    .footer-block:last-child {
        border-right: 0;
        border-bottom: 0;
    }

    .block-title {
        padding-bottom: 10px;
    }

    .footer-link {
        padding-bottom: 4px;
    }

    a:hover {
        text-decoration: underline !important;
    }

    .footer-social-item li {
        margin: 0 4px;
    }

    .footer-social-item li a {
        display: block;
        margin-left: 0px;
    }
}