.top-category {
  padding: 8px;
  min-height: 20vh;
  display: flex;
  align-items: center;
}

.top-category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.top-category-list > li > i {
  background-color: rgba(128, 128, 128, 0.402);
  border-radius: 50%;
  min-height: 120px;
  min-width: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-category-list > li > span {
  padding: 3px;
}
